        body {
            background-color: #121212;
            color: #E7E0EC;
            font-family: "Inter", sans-serif;
            text-align: center;
            padding: 20px;
        }
        
        .intro {
            position: relative;
            height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 20px;
        }
       .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px 15px;
            background-color: #007bff;
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            font-family: Arial, sans-serif;
        }

        .button-container {
            text-align: center;
        }
        .profile-pic {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin: 20px auto;
        }
        .button {
            background-color: #6750A4;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            font-size: 16px;
            display: inline-block;
            margin: 20px 0;
        }
        .footer {
            margin-top: 50px;
            font-size: 14px;
            color: #bbbbbb;
        }
        .additional-content {
            color: #E7E0EC;
            display: flex;
            flex-direction: column;
            padding: 20px;
        }
        .card {
            background-color: #222222;
            border-radius: 10px;
            padding: 30px;
            margin: 30px auto;
            width: 50vw;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            justify-content: center;
            align-items: center;
        }
       
        .card img {
            width: 50%;
            height: auto;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        a {
            color: #CCCCCC;
            text-decoration: none;
        }
        .card h2 {
            margin: 20px 0;
        }
           .social-links {
            margin: 8px 0;
        }
        .social-links a {
            color: #E7E0EC;
            margin: 0 10px;
            text-decoration: none;
            font-size: 24px;
        }
        .footer {
            margin-top: 50px;
            font-size: 14px;
            color: #bbbbbb;
        }