<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nethical.digipaws"
    android:versionCode="1"
	android:versionName="1.0">

    
    <uses-sdk android:minSdkVersion="22" android:targetSdkVersion="33"/>
	
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
	
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

	
    <application
        android:name=".DigiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
			<action android:name="android.intent.action.MAIN" />
			
			<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>
		
		<activity android:name="nethical.digipaws.Intro"
			android:label="Intro" 
            android:theme="@style/IntroTheme"
			android:exported="true">
				<intent-filter>
					<action android:name="android.intent.action.MAIN" />
				</intent-filter>
		</activity>
	 
	 
		<service
			android:exported="true"
			android:name=".services.BlockerService"
			android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
				<intent-filter>
					<action android:name="android.accessibilityservice.AccessibilityService" />
				</intent-filter>
				
				<meta-data
					android:name="android.accessibilityservice"
					android:resource="@xml/blocker_service_config" />
				
		</service>
        
        <service
            android:name=".services.LocationTrackerService"
            android:foregroundServiceType="location"
            android:exported="false" />

        
        <receiver
            android:exported="false"
            android:name=".receivers.AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />
        </receiver>
        
        
        
    </application>

</manifest>
