<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
	android:versionName="1.0">
   
    <uses-permission android:name="nethical.digipaws.permission.API_V1"/>
    
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
	
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

   <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>


    
    <permission
        android:name="nethical.digipaws.permission.API_V1"
        android:label="@string/perm_quest_manager_label"
        android:description="@string/perm_quest_manager_desc"
        android:protectionLevel="dangerous" />
    
    <application
        android:name=".DigiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
             android:exported="true">
            <intent-filter>
			    <action android:name="android.intent.action.MAIN" />
			    <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>
		
		<activity android:name="nethical.digipaws.AppIntroActivity"
			android:label="Intro" 
            android:theme="@style/IntroTheme"
			android:exported="true">
		</activity>
	 
	 
		<service
			android:exported="true"
			android:name=".services.BlockerService"
			android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
				<intent-filter>
					<action android:name="android.accessibilityservice.AccessibilityService" />
				</intent-filter>
				
				<meta-data
					android:name="android.accessibilityservice"
					android:resource="@xml/blocker_service_config" />
				</service>
        
        <service
            android:name=".services.FocusModeTimerService"
            android:enabled="true"
            android:foregroundServiceType="specialUse"
            android:exported="false">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Start a 90-minute focused session during which all distracting elements are blocked at the user's discretion."/>
        </service>
        <receiver
            android:exported="false"
            android:name=".receivers.AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />
        </receiver>
        
        <receiver 
            android:name=".receivers.ResetCoinsReceiver"
            android:exported="false" />
        
        <receiver
             android:name=".receivers.BootReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        

     <provider
        android:name=".utils.QuestDataProvider"
        android:authorities="nethical.digipaws.questprovider"
        android:exported="true" >
    </provider>

   <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
    </provider>
        
    </application>

    
</manifest>
