name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4.2.1
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Give permission to executable
        run: chmod +x gradlew

      - name: Clear build cache
        uses: gradle/gradle-build-action@v3.1.0
        with:
          gradle-version: nightly
          arguments: clean

      - name: Build with gradle
        uses: gradle/gradle-build-action@v3.1.0
        with:
          gradle-version: nightly
          arguments: assembleDebug

      - name: Upload Debug APK
        uses: actions/upload-artifact@v2
        with:
          name: debug-apk
          path: app/build/outputs/apk/debug/app-debug.apk
